@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.telegram{
	font-variant: all-small-caps;
}

#chapter-7 > blockquote{
	font-variant-caps: all-small-caps;
}

#chapter-7 > blockquote > p > b{
	font-size: larger;
}