@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.telegram{
	font-variant: all-small-caps;
}

#chapter-7 > blockquote,
#chapter-18 > blockquote{
	font-variant-caps: all-small-caps;
}

#chapter-7 > blockquote > p > b{
	font-size: larger;
}

time{
	font-style: italic;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}